.create-form-collection-container {
  max-width: 1000px;
  margin: 0 auto;
  max-height: 400px;
  overflow-y: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.collection-box {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.create-form-collection-container h2 {
  text-align: center;
}

.create-form-collection-form {
  display: flex;
  flex-direction: column;
}

.create-form-collection-label {
  margin-bottom: 5px;
}

.create-form-collection-input {
  padding: 8px;
  margin-bottom: 10px;
}

.create-form-collection-movies {
  list-style-type: none;
  padding: 0;
}

.create-form-collection-movie-item {
  margin-bottom: 10px;
}

.create-form-collection-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.create-form-collection-button:hover {
  background-color: #0056b3;
}


.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px; /* pour un espacement entre les groupes */
}

.form-group label {
  margin-bottom: 5px; /* pour un espacement entre le label et l'input */
}