.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px; /* Aumenta o padding para melhor legibilidade */
  text-align: center;
  z-index: 1;
  display: flex;
  justify-content: space-between; /* Alinha os itens para esquerda e direita */
  align-items: center; /* Centraliza verticalmente */
}

.UserEmail {
  margin-left: 10px; /* Adiciona um espaço entre "User:" e o email do usuário */
}

.Footer p {
  margin-bottom: 0;
}

.Footer-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center; /* Centraliza os links verticalmente */
}

.Footer-links li {
  margin-left: 10px;
}

.Footer-links li a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid white;
  border-radius: 3px;
  font-size: 12px;
}

.Footer-links li a:hover {
  background-color: white;
  color: #333;
}