.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  padding: 10px;
  display: flex;
  align-items: center;
}

.navbar button,
.navbar a {
  margin-right: 10px;
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  background-color: #555;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

.navbar button.logout-btn {
  margin-left: auto;
  background-color: #CC0000;
}

.navbar button,
.navbar a:hover,
.navbar button.logout-btn:hover {
  background-color: #777;
  color: white;
}

.navbar form {
  margin-left: auto;
}

.navbar input[type="text"] {
  padding: 5px;
  margin-right: 5px;
}

.navbar input[type="submit"] {
  padding: 5px 10px;
}