
.homepage-content {
    position: relative;
    text-align: center;
    color: white;
    z-index: 2; 
  }
  
  .homepage-logo {
    max-width: 50%;
    height: auto;
  }
  
  .homepage-title {
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 0.5em;
  }
  
  .button {
    background-color: #005288;
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none; 
    display: inline-block; 
    transition: background-color 0.3s;
  }
  
  .button-signup {
    background-color: #007bff; 
  }
