
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  line-height: 1.5;
  font-weight: 400;
  justify-content: center;
  min-height: 100vh;
  overflow-y: auto;
  background-color: #3e4444;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

  

  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
